# ==========================
# Database
# ==========================
DATABASE_URL=

# ==========================
# Authentication
# ==========================
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ==========================
# AI
# ==========================
GEMINI_API_KEY=

# ==========================
# Storage
# ==========================
UPLOAD_DIR=uploads

# ==========================
# Cache (Future)
# ==========================
REDIS_URL=